@import url('http://fonts.cdnfonts.com/css/nicholson-gothic');
* {
	margin: 0 ;
	padding: 0 ;
}
@media screen and (min-width: 1024px) and (max-width: 1279px){
	.first-container {
	height: 1400px;
	width: 100%;
	}
	label {
	position: absolute;
	color: azure;
	font-size: 60px;
	font-family: 'Nicholson Gothic', sans-serif;
	text-align: center;
	left: 169px;
	top: 100px;
	}
	.text-describe p {
	position: relative;
	font-size: 30px;
	font-family: 'Nicholson Gothic', sans-serif;
	color:azure;
	left: 260px;
	}
	#image-title {
	position:absolute;
	letter-spacing: 2px;
	font-family: 'Nicholson Gothic', sans-serif;
	font-size: 30px;
	color: azure;
	top: 500px;
	left: 470px;
	}
	#video-title {
	position:absolute;
	font-family: 'Nicholson Gothic', sans-serif;
	letter-spacing: 2px;
	font-size: 30px;
	color: azure;
	top: 945px;
	left: 470px;
	}
	.class-of-text-trans {
	position: absolute;
	width: 300px;
	height: 300px;
	background: linear-gradient(to bottom, #8241f9, #4e277b);
	left: 370px;
	top: 600px;
	border-radius: 15px;
	border: 1px solid black;
	animation: pulse 2s ease-in-out infinite;
	}
	.class-of-video-trans {
	position: absolute;
	width: 300px;
	height: 300px;
	background: linear-gradient(to bottom, #8241f9, #4e277b);
	border: 1px solid black;
	border-radius: 15px;
	right: 350px;
	top: 1000px;
	animation: pulse 2s ease-in-out infinite;
	}
	.title-list-img {
	position: relative;
	width: 200px;
	top:51px;
	left: 51px;
	}
	.title-list-video {
	position: relative;
	width: 250px;
	top: 41px;
	left: 41px;
	}
	.class-of-text-trans:hover .title-list-img {
	transition: all 0.5s ease;
	width: 200px;
	transform: rotate(15deg);
	}
	.class-of-video-trans:hover .title-list-video {
	transition: all 0.5s ease;
	width: 250px;
	transform: rotate(15deg);
	}
	.class-of-video-trans:hover {
	transition: all 0.5s ease;
	width: 290px;
	height: 290px;
	}
	.class-of-text-trans:hover {
	transition: all 0.5s ease;
	width: 290px;
	height: 290px;
	}
}