@media screen and (min-width: 1600px){
.third-container {
	height: 1000px;
	width: 100%;
}
*, :active, :focus {
    outline: none;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.result-text textarea{
    height: 550px;
    max-height: 875px;
    overflow: auto;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
	padding: 30px;
	border-radius: 10px;

}
textarea {
	position: absolute;
	top: 150px;
	left: 130px;
	width: 886px;
	height: 545px;
	resize: none;
	border: 1px solid #e6e6e6;
}
.copy-text {
	position: absolute;
	right: 120px;
	top: 150px;
	width: 390px;
	height: 80px;
	border: 1px solid black;
	border-radius: 10px;
	align-items: center;
	background: linear-gradient(to bottom, #8241f9, #4e277b);
}
.copy-text:hover {
	transition: all 1s ease;
	background: linear-gradient(to bottom, #4e277b, #8241f9);
}
.copy-text p {
	font-size: 25px;
	font-family: 'Nicholson Gothic', sans-serif;
	color: azure;
	position: absolute;
	top: 30px;
	left: 140px;
}
#copy-img {
	position: absolute;
	width: 90px;
	top: 14px;
	left: 30px;
}
span {
	font-size: 48px;
	font-family: 'Nicholson Gothic', sans-serif;
	color: white;
	position: absolute;
	top: 60px;
	left: 130px;
}
.word-convert {
	position: absolute;
	right: 120px;
	top: 290px;
	width: 390px;
	height: 80px;
	border: 1px solid black;
	border-radius: 10px;
	align-items: center;
	background: linear-gradient(to bottom, #8241f9, #4e277b);
}
.word-convert:hover {
	transition: all 1s ease;
	background: linear-gradient(to bottom, #4e277b, #8241f9);
}
.word-convert p {
	font-size: 25px;
	font-family: 'Nicholson Gothic', sans-serif;
	color: azure;
	position: absolute;
	top: 30px;
	left: 140px;
}
#word-img {
	position: absolute;
	width: 90px;
	top: 14px;
	left: 30px;
}
.back-of-site {
	width: 200px;
	height: 200px;
	background: linear-gradient(to bottom, #8241f9, #4e277b);
	position: absolute;
	border: 1px solid black;
	border-radius: 15px;
	right: 209px;
	top: 430px;
}
.back-of-site:hover {
	transition: all 2s ease;
	background: linear-gradient(to bottom, #4e277b, #8241f9);
}
.back-world {
	position: relative;
	width: 100px;
	top:21px;
	left: 51px;
}
.back-of-site p {
	font-size: 25px;
	font-family: 'Nicholson Gothic', sans-serif;
	color: azure;
	position: absolute;
	top: 145px;
	left: 75px;
}
}